
/* @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

.parallax-bg {
    position: fixed;
    top: 0;
    left: 0;  /* Wichtig! */
    width: 100%;
    height: 300%;
    background: url('BG.PNG') rgb(36, 40, 65);
    background-repeat: repeat-y;
    z-index: -1;
    will-change: transform;  /* Performance */
    backface-visibility: hidden;  /* Anti-Flackern */
}

body {
    font-size: large;
    font-family: "Sometype Mono", monospace, system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /*background-color: rgb(36, 40, 65);
    background-image: url(BG.PNG);
    background-attachment: fixed;
    background-size: auto; */
    margin: 20px;
    padding: 20px;
}

h1 {
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    color: green;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: black solid 1px;
}

.windowdek {
    /* das hier ist für die Fensterdeko */
    margin: 0;
    background-color: rgba(92, 91, 91, 0.74);
    text-align: right;
    padding: 5px;
    margin: -10px -10px 0px -10px;
}

.article {
    padding: 5px;
    border: 1px solid black;
    line-height: 1.5;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.603);
}

.outline {
    outline: 5px solid rgb(61, 61, 61,0.6);
}

#intro {
    font-size: x-large;
    background-color: rgb(172, 172, 172, 0.6);
    backdrop-filter: blur(2px);
}

#self {
    size: auto;
    float: right;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid black;
}

/*     position: relative;
    z-index: 1;
    background-image: url("window.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; */

#songs {
    display: flex;
    flex-wrap: wrap;
}

/*media query: kacheln ins center gerückt - in bearbeitung weils nicht klappt*/

.song {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.848);
    border-radius: 20px;
    width: 200px;
}

.song_link {
    color: white;
    text-decoration: none;
    font-size: auto;
    text-align: center;
}

#sidebar {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
}

.legende {
    color: white;
    text-decoration: none;
    font-size: auto;
}

.legende:visited {
    color: rgb(167, 164, 164);
    text-decoration: none;
    font-size: auto;
}

.legende:hover {
    color: white;
    text-decoration: underline;
    font-size: x-large;
}

.content {
    background-color: rgb(172, 172, 172, 0.6);
    backdrop-filter: blur(2px);
    padding: 10px;
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.644);
}

.subtitle {
    font-style: italic;
    font-size: medium;
    color: white;
    background-color: black;
    padding: 5px;
    border: 1px solid black;
}

#reference {
    font-size: small;
    color:rgb(153, 153, 153)
}

.distance {
    margin-bottom: 20px;
}


.description {
    font-size: medium;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: italic;
    text-decoration: underline;
}

/* custom Listen-Symbole unterhalb */

ul {
    list-style-type: none;
}

.dot {
    list-style-type: disc;
}

#birth::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("cake-candles-solid.svg");
    background-size: cover;
    margin-right: 10px;
    }
    
#location::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("location-dot-solid-full.svg");
    background-size: cover;
    margin-right: 10px;
    }

#music::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("music-solid-full.svg");
    background-size: cover;
    margin-right: 10px;
    }

#picture::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("image-regular-full.svg");
    background-size: cover;
    margin-right: 10px;
    }

.school::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("graduation-cap-solid-full.svg");
    background-size: cover;
    margin-right: 10px;
    }

/*Verhalten nach Screen-Größe*/

@media only screen and (min-width: 800px) {
    .parallel {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .arrange {
        display: flex;
        gap: 20px;
    }
    #sidebar {
        flex: 1
    }
    content {
        flex: 4
    }
    .verbindung {
        background-color: white;
        width: 3px;
        
    }
}