body {
    font-size: large;
    font-family: "Sometype Mono", monospace, system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(36, 40, 65);
    background-image: url(BG.PNG);
    background-attachment: fixed;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    color: green;
    text-shadow: 2px 2px 4px #000000;
}

h2 {text-decoration: underline;}

.article {
    padding: 5px;
    border: 1px solid black;
    line-height: 1.5;
}

#intro {
    font-size: x-large;
    background-color: rgb(172, 172, 172, 0.6);
    backdrop-filter: blur(2px);
}

#self {
    size: auto;
    float: right;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid black;
}

/*     position: relative;
    z-index: 1;
    background-image: url("window.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; */

#songs {
    display: flex;
}

.song {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.848);
    border-radius: 20px;

}

.song_link {
    color: white;
    text-decoration: none;
    font-size: auto;
    text-align: center;
}


#sidebar {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
}

.legende {
    color: white;
    text-decoration: none;
    font-size: auto;
}

.legende:visited {
    color: rgb(167, 164, 164);
    text-decoration: none;
    font-size: auto;
}

.legende:hover {
    color: white;
    text-decoration: underline;
    font-size: x-large;
}

.content {
    background-color: rgb(172, 172, 172, 0.6);
    backdrop-filter: blur(2px);
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.subtitle {
    font-style: italic;
    font-size: medium;
    color: white;
    background-color: black;
    padding: 5px;
    border: 1px solid black;
}

.distance {
    margin-bottom: 20px;
}

/* custom Listen-Symbole */

ul {
    list-style-type: none;
}

#birth::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("cake-candles-solid.svg");
    background-size: cover;
    margin-right: 10px;
    }

@media only screen and (min-width: 800px) {
    .parallel {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .arrange {
        display: flex;
        gap: 20px;
    }
    #sidebar {
        flex: 1
    }
    content {
        flex: 4
    }
    .verbindung {
        background-color: white;
        width: 3px;
        
    }
}